<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Comercial Prado materiais <br/> para Construção</h5>
        <p class="grey-text text-lighten-4">Entregas rápidas e os melhores preços da região</p>
        <ul>
          <li class="grey-text text-lighten-3">Telefone: 011 4488-0678</li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Endereço</h5>
        <ul>
          <li class="grey-text text-lighten-3">Rua: Rua Antonio Soriano Dias, 144</li>
          <li class="grey-text text-lighten-3">Bairro: Belém Capela</li>
          <li class="grey-text text-lighten-3">CEP: 07990-030</li>
          <li class="grey-text text-lighten-3">Referência: Próximo ao Supermercado Mihara</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2015 Comercial Prado
      <a class="grey-text text-lighten-4 right" href="#/">Desenvolvidor: Rafael Antonio Lucio</a>
    </div>
  </div>
</footer>
