/* *
* Animations Stylesheet
*
* @author Rafael Antonio Lucio <rafaelantoniolucio@gmail.com>
* */

/* _____ ANIMATIONS _____ */
.ng-enter {
  transition: all 0.75s;
  opacity: 0;
}
.ng-enter-active {
  opacity: 1;
}
.ng-leave {
  transition: all 0.75s;
  opacity: 1;
}
.ng-leave-active {
  opacity: 0;
}
