/* *
* Variables of projects
*
* @author Rafael Antonio Lucio <rafaelantoniolucio@gmail.com>
* */

/* _____ COLORS _____ */
$gray: #555;
$violet: #2b0331;
$violet-hover: #771487;

/* _____ FONTS _____ */
$font-amaticsc: 'amaticsc_scregular', 'Arial', sans-serif;
$font-amatic-bold: 'amatic_scbold', 'Arial', sans-serif;

/* _____ LAYOUT _____ */

/* _____ BREAKPOINTS _____ */
$desktop: 1280px;
$laptop: 1000px;
$tablet: 600px;
$mobile: 400px;
