<div class="row">
	<div class="col s12 m4">
		<div class="card">
			<div class="prado-login-image card-image">
				<img src="images/logo-login.png" alt="Comercial Prado Logo">
			</div>
			<div class="prado-login-form card-content">
				<form class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<input id="email" type="email" class="validate">
							<label for="email">Email</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="password" type="password" class="validate">
							<label for="password">Senha</label>
						</div>
					</div>
				</form>
			</div>
			<div class="prado-login-action card-action">
				<button class="btn right">Entrar</button>
			</div>
		</div>
	</div>
</div>
