/* *
* Login stylesheet component
*
* @author Rafael Antonio Lucio <rafaelantoniolucio@gmail.com>
* */

.prado-login .col {
  float: none;
  display: block;
  margin: 2em auto !important;
}

.card .prado-login-image {
  margin-top: 40px;
  img {
    width: auto;
  }
}

.card .prado-login-form {
  @include clearfix();
}

.card .prado-login-action {
  @include clearfix();
}
