<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <br>

      <h1 class="header center teal-text text-lighten-2">COMERCIAL PRADO</h1>

      <h3 class="header center teal-text text-lighten-2">MATERIAIS PARA CONSTRUÇÃO</h3>

      <div class="row center">
        <h5 class="header col s12 light">Vivendo para tornar a sua vida mais bonita e com baixo custo.</h5>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>
<div class="divider"></div>
<section class="row section">
  <div class="col xs s6 m4 l3" ng-repeat="product in products.products track by $index">
    <div class="card hoverable">
      <div class="card-image">
        <img ng-src="images/{{product.imagem}}" alt="">
        <span class="card-title prado-price">{{product.price | currency:'R$ '}}</span>
      </div>
      <div class="card-content">
        <p class="truncate">{{product.shortDescription}}</p>
      </div>
      <div class="card-action">
        <p class="activator">Válido até <a href="#">11/22/2019</a><span tooltipped data-position="top"
                                                                        data-tooltip="Veja a descrição completa."><i
          class="material-icons right prado-pointer">more_vert</i></span></p>
      </div>
      <div class="card-reveal" style="display: none; transform: translateY(0px);">
        <span class="card-title grey-text text-darken-4">{{product.name}}<i
          class="material-icons right">close</i></span>

        <p>{{product.longDescription}}</p>
      </div>
    </div>
  </div>
</section>
<section class="row section">
  <form class="col s12" id="sugestoes" ng-init="products.suggestions = {}">
    <h4 class="header">Sugestões</h4>

    <div class="row">
      <div class="input-field s12">
        <input id="suggestionsIdentify" name="identify" type="checkbox" class="validate filled-in"
               ng-model="products.suggestions.identify">
        <label for="suggestionsIdentify">Deseja se idenficar?</label>
      </div>
    </div>

    <div class="row" ng-show="products.suggestions.identify">
      <div class="input-field col s6">
        <input id="suggestionsName" type="text" class="validate" ng-model="products.suggestions.name">
        <label for="suggestionsName">Nome</label>
      </div>

      <div class="input-field col s6">
        <input id="suggestionsPhone" type="tel" class="validate" ng-model="products.suggestions.phone">
        <label for="suggestionsPhone">Telefone</label>
      </div>

      <div class="input-field col s12">
        <input id="suggestionsEmail" type="email" class="validate" ng-model="products.suggestions.email">
        <label for="suggestionsEmail">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="suggestion" class="validate materialize-textarea"
                  ng-model="products.suggestions.suggestion"></textarea>
        <label for="suggestion">Descreva aqui sua sugestão...</label>
      </div>
    </div>
  </form>
  <form class="col s12" id="reclamacoes" ng-init="products.complaints = {}">
    <h4 class="header">Reclamações</h4>

    <div class="row">
      <div class="input-field s12">
        <input id="complaintsIdentify" name="identify" type="checkbox" class="validate filled-in"
               ng-model="products.complaints.identify">
        <label for="complaintsIdentify">Deseja se idenficar?</label>
      </div>
    </div>

    <div class="row" ng-show="products.complaints.identify">
      <div class="input-field col s6">
        <input id="complaintsName" type="text" class="validate" ng-model="products.complaints.name">
        <label for="complaintsName">Nome</label>
      </div>

      <div class="input-field col s6">
        <input id="complaintsPhone" type="tel" class="validate" ng-model="products.complaints.phone">
        <label for="complaintsPhone">Telefone</label>
      </div>

      <div class="input-field col s12">
        <input id="complaintsEmail" type="text" class="validate" ng-model="products.complaints.email">
        <label for="complaintsEmail">E-mail</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
          <textarea id="complaintText" class="validate materialize-textarea"
                    ng-model="products.complaintText"></textarea>
        <label for="complaintText">Descreva aqui sua reclamação...</label>
      </div>
    </div>
  </form>

  <form class="col s12" id="trabalheConosco" ng-init="products.work = {}">
    <h4 class="header">Trabalhe Conosco</h4>
    <pre>{{products.work | json}}</pre>
    <div class="row">
      <div class="input-field col s12">
        <input id="workName" type="text" class="validate" ng-model="products.work.name">
        <label for="workName">Nome Completo</label>
      </div>
    </div>

    <div class="row">
      <div class="file-field input-field">
        <div class="btn">
          <span>curriculum</span>
          <input type="file" ng-model="products.work.file" file-reader>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" ng-model="products.work.file">
        </div>
      </div>
    </div>

  </form>
</section>
<section id="localizacao">
  <h4 class="header">Localização</h4>
  <map center="-23.275592, -46.741726" zoom="16">
    <marker position="-23.275592, -46.741726" title="Comercial Prado"></marker>
  </map>
</section>
