<nav>
  <div class="nav-wrapper row">
    <div class="col s12">
      <a href="#" class="brand-logo">
        <img ng-src="images/logo-header.png" alt="Comercial Prado Logo">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li ui-sref-active="active"><a ui-sref="home">Promoções</a></li>
        <li ui-sref-active="active"><a>Sugestões</a></li>
        <li ui-sref-active="active"><a>Reclamações</a></li>
        <li ui-sref-active="active"><a>Trabalhe Conosco</a></li>
        <li ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ui-sref-active="active"><a>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
